<ion-header>
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="userFormGroup" (submit)="onSubmit()" class="form">
        <!-- <div class="ui input">
          <input class="my-input" type="text" name="log" formControlName="log"><br/>
          <input class="my-input" type="password" name="pass" formControlName="pass"><br/>
        </div>
    
        <button class="ui primary button" type="submit" *ngIf="!loading">Login</button> -->
        <!-- <app-loading *ngIf="loading"></app-loading> -->
    
        <ion-list>
            <ion-item>
              <ion-input type="text" formControlName="firstName" placeholder="firstName" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="lastName" placeholder="lastName" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="login" placeholder="login" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="password"></ion-input>
            </ion-item>
            <ion-button type="submit" shape="round" size="default" color="secondary" expand="block" >
              Registration
            </ion-button>
          </ion-list>
      </form>

</ion-content>
