<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="userFormGroup" (submit)="onSubmit()" class="form">
    <!-- <div class="ui input">
      <input class="my-input" type="text" name="log" formControlName="log"><br/>
      <input class="my-input" type="password" name="pass" formControlName="pass"><br/>
    </div>

    <button class="ui primary button" type="submit" *ngIf="!loading">Login</button> -->
    <!-- <app-loading *ngIf="loading"></app-loading> -->

    <ion-list>
        <ion-item>
          <ion-input type="text" formControlName="log" placeholder="login" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="pass" placeholder="password"></ion-input>
        </ion-item>
        <ion-button type="submit" shape="round" size="default" color="primary" expand="block">
          Log in
        </ion-button>
      </ion-list>
  </form>
  <ion-button type="submit" shape="round" size="default" color="secondary"expand="block" href="/registration">
    Registration
  </ion-button>

</ion-content>
